body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  color: #333;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 0;
}

.address-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.delete-address-btn {
  background-color: #dc3545;
}

.delete-address-btn:hover {
  background-color: #c82333;
}

#addAddressForm {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  color: #fff;
}

.navbar-brand {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}

.navbar-middle {
  flex-grow: 1;
  margin: 0 20px;
}

.navbar-right button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-right button:hover {
  background-color: #004080;
}

#ordersSection {
  margin-top: 20px;
}

.order-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.order-item p {
  margin: 5px 0;
}

.order-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.order-item button:hover {
  background-color: #0056b3;
}
